# Dependencias de Node
node_modules/
dist/

# Dependencias de Python
__pycache__/
*.pyc
venv/
env/
.env

# Archivos de Git y temporales
.git/
.gitignore
.gitattributes
*.log
temp_audio_*.mp3
.DS_Store
